Localization
{
	ru
	{
		#autoLOC_DF_00001 = <<1>> восстановился от экстренной разморозки и приступил к работе
		#autoLOC_DF_00002 = <<1>> был экстренно разморожен и не сможет выполнять свои обязанности <<2>> минут
		#autoLOC_DF_00003 = Анабиоз
		#autoLOC_DF_00004 = Переключиться на Аппарат Анабиоза
		#autoLOC_DF_00005 = Ошибка Переключения на Аппарат Анабиоза
		#autoLOC_DF_00006 = Kербалы в Анабиозе
		#autoLOC_DF_00007 = Оповещения Анабиоза
		#autoLOC_DF_00008 = Закрыть
		#autoLOC_DF_00009 = Аппарат
		#autoLOC_DF_00010 = Название Аппарата
		#autoLOC_DF_00011 = Модуль
		#autoLOC_DF_00012 = Название Модуля
		#autoLOC_DF_00013 = Темп.
		#autoLOC_DF_00014 = Температура Модуля
		#autoLOC_DF_00015 = ЭЭ
		#autoLOC_DF_00016 = Потребление Электроэнергии
		#autoLOC_DF_00017 = Д.У.
		#autoLOC_DF_00018 = Статус Дистанционного Управления
		#autoLOC_DF_00019 = Сигнал
		#autoLOC_DF_00020 = Нажмите кнопку для сигнала тревоги будильника, привязанную к этому модулю
		#autoLOC_DF_00021 = Посл. Обновл.
		#autoLOC_DF_00022 = Время последнего обновления компонента
		#autoLOC_DF_00023 = Ост. Время
		#autoLOC_DF_00024 = Приблизительное время до исчерпания Электрического Заряда
		#autoLOC_DF_00025 = Аппарат <<1>> перегревается!
		#autoLOC_DF_00026 = ВЫКЛ.
		#autoLOC_DF_00027 = ГОТОВ
		#autoLOC_DF_00028 = НЕТ!
		#autoLOC_DF_00029 = ОПАСНО
		#autoLOC_DF_00030 = ВНИМАНИЕ
		#autoLOC_DF_00031 = На Аппарате <<1>> почти закончилось Электричество!
		#autoLOC_DF_00032 = МАЛО
		#autoLOC_DF_00033 = ОК
		#autoLOC_DF_00034 = NC
		#autoLOC_DF_00035 = Оповещение
		#autoLOC_DF_00036 = К Оповещениям
		#autoLOC_DF_00037 = В настоящее время нет замороженных Кербалов
		#autoLOC_DF_00038 = Имя Кербала
		#autoLOC_DF_00039 = Профессия
		#autoLOC_DF_00040 = Размор.
		#autoLOC_DF_00041 = Разморозить этого Кербала
		#autoLOC_DF_00042 = Нельзя разморозить <<1>> из КСЦ. Аппарат по-прежнему существует <<2>> в <<3>>
		#autoLOC_DF_00043 = Замор.
		#autoLOC_DF_00044 = Заморозить этого Кербала
		#autoLOC_DF_00045 = Оповещения будильника
		#autoLOC_DF_00046 = Изменить размер
		#autoLOC_DF_00047 = <<1>>K
		#autoLOC_DF_00048 = <<1>>°C
		#autoLOC_DF_00049 = <<1>> был(а) заморожен(а) в КСЦ
		#autoLOC_DF_00050 = Недостаточно средств для разморозки Кербала <<1>>
		#autoLOC_DF_00051 = <<1>> был обнаружен и разморожен
		#autoLOC_DF_00052 = <<1>> был обнаружен и разморожен <<2>> средства списаны со счёта
		#autoLOC_DF_00053 = Нельзя разморозить <<1>>. Аппарат по-прежнему существует <<2>> в <<3>>
		
		#autoLOC_DF_00054 = Вместимость Криомодуля
		#autoLOC_DF_00055 = Криокапсул в Режиме Анабиоза
		#autoLOC_DF_00056 = Криокапсул в Режиме Ожидания
		#autoLOC_DF_00057 = Статус заполненности Криомодуля
		#autoLOC_DF_00058 = Д.У. Соединение
		#autoLOC_DF_00059 = Статус Температуры Криомодуля
		#autoLOC_DF_00060 = Значение Температуры Криомодуля
		#autoLOC_DF_00061 = K
		#autoLOC_DF_00062 = Меню Анабиоза
		#autoLOC_DF_00063 = Требуемое кол-во ЭЭ на 1 Кербала
		#autoLOC_DF_00064 = \u0020ед/мин
		#autoLOC_DF_00065 = Кол-во используемой ЭЭ
		#autoLOC_DF_00066 = \u0020ед/сек
		#autoLOC_DF_00067 = Требуемое кол-во Гликерола для Заморозки
		#autoLOC_DF_00068 = ЭЭ на 1 Кербала для Заморозки/Разморозки
		#autoLOC_DF_00069 = \nКол-во Криокапсул: <<1>>
		#autoLOC_DF_00070 = °C
		#autoLOC_DF_00071 = Капсула:<<1>>
		#autoLOC_DF_00072 = Недостаточно Электроэнергии для мониторинга замороженных Кербалов
		#autoLOC_DF_00073 = \u0020Криомодуль Обесточен!\nКритическая Ситуация через <<1>> секунд(ы)!
		#autoLOC_DF_00074 = <<1>> умер из-за отсутствия Электроэнергии для работы Криомодуля.
		#autoLOC_DF_00075 = Проверьте Температуру, в Криомодуле становится жарко.
		#autoLOC_DF_00076 = ВНИМАНИЕ! Проверьте Температуру СРОЧНО, в Криомодуле очень жарко!
		#autoLOC_DF_00077 = Температура в Криомодуле становится слишком высокой для Кербалов, чтобы оставаться в анабиозе.
		#autoLOC_DF_00078 = \u0020Криомодуль Перегрет! Критическая Ситуация на <<1>> секунд(ы)!
		#autoLOC_DF_00079 = <<1>> умер из-за перегрева Криомодуля.
		#autoLOC_DF_00080 = Перегрев! - Выполняется Аварийная Разморозка!
		#autoLOC_DF_00081 = Недостаточно Электроэнергии для заморозки Кербала
		#autoLOC_DF_00082 = \u0020Криокапсула - Зарядка:<<1>>
		#autoLOC_DF_00083 = Недостаточно Гликерола для заморозки Кербала
		#autoLOC_DF_00084 = Невозможно заморозить Кербала, пока температура выше <<1>> 
		#autoLOC_DF_00085 = Невозможно заморозить Кербала, пока экипаж перемещается
		#autoLOC_DF_00086 = Невозможно запустить более одного процесса Заморозки/Разморозки Кербала
		#autoLOC_DF_00087 = Д.У. обнаружено. Нажмите "Заморозить", чтобы заморозить последнего активного Кербала
		#autoLOC_DF_00088 = Необходимо Активное Соединение или Кербал на борту, чтобы начать процесс разморозки
		#autoLOC_DF_00089 = Невозможно заморозить Кербала: Криомодуль заполнен до предела
		#autoLOC_DF_00090 = Невозможно заморозить Кербала сейчас
		#autoLOC_DF_00091 = Запуск процесса Заморозки
		#autoLOC_DF_00092 = Заморозка Отменена
		#autoLOC_DF_00093 = <<1>> заморожен(а)
		#autoLOC_DF_00094 = Недостаточно Электроэнергии для разморозки Кербала
		#autoLOC_DF_00095 = \u0020Криокапсула - Зарядка:<<1>> 
		#autoLOC_DF_00096 = Невозможно разморозить <<1>>, Кабина заполнена до предела
		#autoLOC_DF_00097 = Невозможно разморозить Кербала, пока переместитель экипажа работает
		#autoLOC_DF_00098 = Невозможно запустить более одного процесса Заморозки/Разморозки Кербала
		#autoLOC_DF_00099 = Невозможно разморозить Кербала сейчас
		#autoLOC_DF_00100 = Ошибка кода: невозможно разморозить Кербала. Проверьте логи
		#autoLOC_DF_00101 = Разморозка Отменена
		#autoLOC_DF_00102 = <<1>> разморожен(а)
		#autoLOC_DF_00103 = <<1>> был разморожен из-за отсутствия Электроэнергии для работы Криомодуля!
		#autoLOC_DF_00104 = Криомодуль имеет механическое повреждение!
		#autoLOC_DF_00105 = Аппарат скоро изменится, прерывание процесса разморозки
		#autoLOC_DF_00106 = Аппарат скоро изменится, прерывание процесса заморозки
		
		#autoLOC_DF_00107 = Анабиоз
		#autoLOC_DF_00108 = В резервуарах вашего Аппарата осталось менее 5 единиц Гликерола
		#autoLOC_DF_00109 = Тревога во время Анабиоза! Пожалуйста, переключитесь на <<1>>!
		#autoLOC_DF_00110 = Обработка сигналов тревоги завершена.
		
		#autoLOC_DF_00111 = Имя
		#autoLOC_DF_00112 = Название Оповещения
		#autoLOC_DF_00113 = Тип Оповещения
		#autoLOC_DF_00114 = Тип Оповещения Будильника
		#autoLOC_DF_00115 = Оставшееся время
		#autoLOC_DF_00116 = Оставшееся время до тревоги
		#autoLOC_DF_00117 = В настоящее время нет Оповещений Будильника, связанных с Аппаратом с функцией Анабиоза
		#autoLOC_DF_00118 = Удалить
		#autoLOC_DF_00119 = Удалите это Оповещение Будильника полностью
		#autoLOC_DF_00120 = Изменить
		#autoLOC_DF_00121 = Изменить это Оповещение Будильника
		#autoLOC_DF_00122 = Сохранить
		#autoLOC_DF_00123 = Сохранить изменения Оповещений
		#autoLOC_DF_00124 = Невозможно сохранить Оповещение. Отсутствует сигнал Д.У.
		#autoLOC_DF_00125 = Изменения Оповещений Анабиоза сохранены.
		#autoLOC_DF_00126 = Анабиоз не может сохранить изменения Оповещений, время истекло.
		#autoLOC_DF_00127 = Отменить
		#autoLOC_DF_00128 = Отменить изменения
		#autoLOC_DF_00129 = Имя
		#autoLOC_DF_00130 = Имя Кербала
		#autoLOC_DF_00131 = Характер
		#autoLOC_DF_00132 = Профессия Кербала
		#autoLOC_DF_00133 = Разморозить
		#autoLOC_DF_00134 = Разморозить этого Кербала по таймеру
		#autoLOC_DF_00135 = Заморозить
		#autoLOC_DF_00136 = Заморозить этого Кербала по таймеру
		#autoLOC_DF_00137 = Изменить
		#autoLOC_DF_00138 = Изменить настройки этих Оповещений
		
		#autoLOC_DF_00139 = Переключиться на Аппарат
		#autoLOC_DF_00140 = Не сейчас
		#autoLOC_DF_00141 = Не переключать Аппарат сейчас
		#autoLOC_DF_00142 = Автоматическое переключение на Аппарат не удалось.\nПожалуйста, переключитесь вручную немедленно.
		#autoLOC_DF_00143 = Требуется переключение на Аппарат с функцией Анабиоза
		
		#autoLOC_DF_00144 = Опции Анабиоза
		#autoLOC_DF_00145 = Для работы Криомодуля необходима ЭЭ
		#autoLOC_DF_00146 = Если включено, для работы Криомодуля будет необходима Электроэнергия
		#autoLOC_DF_00147 = Смертельно опасный уровень ЭЭ/Температуры
		#autoLOC_DF_00148 = Кербал умрёт, если подача Электроэнергии прекратится или станет слишком жарко.
		#autoLOC_DF_00149 = Некритическое коматозное время (в сек)
		#autoLOC_DF_00150 = Время комы Кербала (в сек), если "Смертельно опасный уровень ЭЭ/Температуры" отключён
		#autoLOC_DF_00151 = Автовозвращение замороженных Кербалов в КЦ
		#autoLOC_DF_00152 = Если включено, замороженные Кербалы будут автоматически возвращены в КЦ,\nа стоимость этой операции будет списана с вашего счёта.
		#autoLOC_DF_00153 = Стоимость разморозки Кербала в КЦ
		#autoLOC_DF_00154 = Нужное кол-во валюты для заморозки Кербала в КЦ
		#autoLOC_DF_00155 = Кол-во ЭЭ для Заморозки/Разморозки
		#autoLOC_DF_00156 = Требуемое кол-во Электроэнергии для Заморозки/Разморозки Кербала
		#autoLOC_DF_00157 = Кол-во Гликерола для Заморозки
		#autoLOC_DF_00158 = Требуемое кол-во Гликерола для Заморозки Кербала
		#autoLOC_DF_00159 = Температура Анабиоза
		#autoLOC_DF_00160 = Калькулятор
		#autoLOC_DF_00161 = Температура по (K)ельвину.\n(K) = (Ц)ельсий + 273,15.\n(K) = ((F)arenheit + 459.67) × 5/9.
		#autoLOC_DF_00162 = Требуется поддержание Заданного Температурного Режима
		#autoLOC_DF_00163 = Если включено, "Заданный Температурный Режим" требуется для Заморозки/Поддержания Кербалов в Заморозке.
		#autoLOC_DF_00164 = Мин. Темп. Криомодуля для Заморозки (K)
		#autoLOC_DF_00165 = Минимальная Температура Криомодуля (по Кельвину)\nдля Заморозки Кербала.
		#autoLOC_DF_00166 = Макс. Tемп. для поддержания Заморозки (K)
		#autoLOC_DF_00167 = Максимальная Температура Криомодуля (по Кельвину)\nдля поддержания Заморозки.
		#autoLOC_DF_00168 = Тепло, выделяемое одним Кербалом (кВт/мин)
		#autoLOC_DF_00169 = Кол-во Тепловой Энергии (кВт), выделяемое оборудованием\nна одного Замороженного Кербала в минуту.
		#autoLOC_DF_00170 = Тепло, выделяемое Криомодулем (кВт)
		#autoLOC_DF_00171 = Кол-во Тепловой Энергии (кВт), выделяемое\nодним процессом Замораживания/Размораживания.
		#autoLOC_DF_00172 = Показывать Температуру Деталей по Кельвину
		#autoLOC_DF_00173 = Если включено, при нажатии ПКМ по детали Температура будет отображаться в Кельвинах,\nесли выключено, — в Цельсиях.
		#autoLOC_DF_00174 = Прочее
		#autoLOC_DF_00175 = Включить функции света
		#autoLOC_DF_00176 = Выключите, чтобы свет интерьера не функционировал.
		#autoLOC_DF_00177 = Вкл. всплывающие подсказки
		#autoLOC_DF_00178 = Всплывающие подсказки Вкл./Выкл.
		#autoLOC_DF_00179 = Фильтр в Редакторе
		#autoLOC_DF_00180 = Фильтр «Категория» в Редакторе Анабиоза Вкл./Выкл.
		#autoLOC_DF_00183 = Расширенное отладочное протоколирование
		#autoLOC_DF_00184 = Включите, чтобы записать в журнал KSP множество дополнительных сведений\nдля сообщения о проблеме.
		
		#autoLOC_DF_00185 = Модуль Глубокой Заморозки КРИ-125 (CRY-0300)
		#autoLOC_DF_00186 = РЕПОСофтТех
		#autoLOC_DF_00187 = Криомодуль Разумного Индивида КРИ-125 (по международной классификации CRY-0300) разработан для длительного анабиоза 1 Кербала. Существует версия, что название на самом деле означает "КРайне Индивидуальная", но доказательств этому нет.\nДля штатной работы систем заморозки и разморозки Кербалов необходим Гликерол и Электроэнергия. В комплект поставки КРИ-125 входит 10 единиц Гликерола.\nПожалуйста, убедитесь, обладает ли ваш корабль достаточным запасом Электроэнергии./n/nВНИМАНИЕ: Для поддержания работы систем мониторинга жизненных показателей размещённого Кербала КРИ-125 также необходима Электроэнергия (в минуту на одного Кербала). Если Электроэнергии для этих целей будет недостаточно, возможно непреднамеренное наступление скоропостижных и крайне фатальных последствий. Гарантия в таком случае АННУЛИРУЕТСЯ!
		#autoLOC_DF_00188 = Криомодуль глубокого Анабиоза
		#autoLOC_DF_00189 = Модуль Глубокой Заморозки КРИ-125Р (CRY-0300R)
		#autoLOC_DF_00190 = Радиальная версия Криомодуля Разумного Индивида КРИ-125 (по международной классификации CRY-0300R). Он также разработан для длительного анабиоза всего 1 Кербала. Для штатной работы систем заморозки и разморозки Кербалов необходим Гликерол и Электроэнергия. В комплект поставки КРИ-125Р входит 10 единиц Гликерола. Пожалуйста, убедитесь, обладает ли ваш корабль достаточным запасом Электроэнергии. ВНИМАНИЕ: Для поддержания работы систем мониторинга жизненных показателей размещённого Кербала КРИ-125Р также необходима Электроэнергия (в минуту на одного Кербала). Если Электроэнергии для этих целей будет недостаточно, возможно непреднамеренное наступление скоропостижных и крайне фатальных последствий. Гарантия в таком случае АННУЛИРУЕТСЯ!
		#autoLOC_DF_00191 = Модуль Глубокой Заморозки КРИ-250-3 (CRY-1300)
		#autoLOC_DF_00192 = Криомодуль Разумного Индивида КРИ-250-3 (по международной классификации CRY-1300) разработан для длительного анабиоза 3 Кербалов. Для штатной работы систем заморозки и разморозки Кербалов необходим Гликерол и Электроэнергия. В комплект поставки КРИ-250-3 входит 15 единиц Гликерола. Пожалуйста, убедитесь, обладает ли ваш корабль достаточным запасом Электроэнергии. ВНИМАНИЕ: Для поддержания работы систем мониторинга жизненных показателей размещённого Кербала КРИ-250-3 также необходима Электроэнергия (в минуту на одного Кербала). Если Электроэнергии для этих целей будет недостаточно, возможно непреднамеренное наступление скоропостижных и крайне фатальных последствий. Гарантия в таком случае АННУЛИРУЕТСЯ!
		#autoLOC_DF_00193 = Модуль Глубокой Заморозки КРИ-250-10 (CRY-2300)
		#autoLOC_DF_00194 = Криомодуль Разумного Индивида КРИ-250-10 (по международной классификации CRY-2300) разработан для длительного анабиоза 10 Кербалов. Для штатной работы систем заморозки и разморозки Кербалов необходим Гликерол и Электроэнергия. В комплект поставки КРИ-250-10 входит 50 единиц Гликерола. Пожалуйста, убедитесь, обладает ли ваш корабль достаточным запасом Электроэнергии. ВНИМАНИЕ: Для поддержания работы систем мониторинга жизненных показателей размещённого Кербала КРИ-250-10 также необходима Электроэнергия (в минуту на одного Кербала). Если Электроэнергии для этих целей будет недостаточно, возможно непреднамеренное наступление скоропостижных и крайне фатальных последствий. Гарантия в таком случае АННУЛИРУЕТСЯ!
		#autoLOC_DF_00195 = Контейнер с Гликеролом РК-Г25Р (RS-X20R)
		#autoLOC_DF_00196 = Радиальный Контейнер с Гликеролом РК-Г25Р (по международной классификации RS-X20R) — это небольшие по объему радиальные контейнеры для удовлетворения нужд по вводу/выводу Кербонавтов из анабиоза.
		#autoLOC_DF_00197 = Криомодуль глубокого Анабиоза с резервуаром для Гликерола
		
		#autoLOC_DF_00198 = Лучшие эксперты в области Криогеники, Электрооборудования и Эргономики, трудящиеся в РЕПОСофтТех, работают не покладая рук, чтобы сделать пребывание в космосе всех Кербонавтов комфортным и безопасным, а также обеспечить успех всех их миссий!
		
		#autoLOC_DF_00199 = Заморозить <<1>>
		#autoLOC_DF_00200 = Разморозить <<1>>
		
		#autoLOC_DF_00201 = Обработка выгруженных КА
		#autoLOC_DF_00202 = Если включено, Анабиоз будет просчитывать ресурсы выгруженных (неактивных) Космических Аппаратов.\nЕсли выключено, Анабиоз не будет просчитывать ресурсы таких КА в игре.\n(Выгруженный Космический Аппарат не управляется непосредственно и находится очень далеко от активного КА,\nпоэтому для экономии ресурсов компьютера, игра просчитывает для него только орбитальную механику и некоторые другие параметры).		
		#autoLOC_DF_00203 = Вкл. звук "Бип"
		#autoLOC_DF_00204 = Если включено, звуки "Бип" будут слышны внутри Криомодулей с замороженными Кербалами		
		#autoLOC_DF_00205 = Вкл. другие звуки
		#autoLOC_DF_00206 = Если включено, все другие звуки Анабиоза будут слышны
		#autoLOC_DF_00207 = Морозильная камера: нехватка электроэнергии

		#autoLOC_DF_RT_CONNECTED = Подключено
		#autoLOC_DF_RT_DISCONNECTED = Отключено

		#autoLOC_DF_FREEZER_OK = OK
		#autoLOC_DF_FREEZER_WARN = Предупреждение
		#autoLOC_DF_FREEZER_RED = Красный сигнал тревоги
	}
}